/* Make everything centered on the screen */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f4f4f4;
}

.main-container {
  background: white;
  padding: 25px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

input {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border: 2px solid #888;
  border-radius: 6px;
  outline: none;
  margin-bottom: 15px;
  transition: 0.3s;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

input:focus {
  border-color: #007bff;
}


p {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}