
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
 
  .app-container {
    display: flex;             
    flex-direction: column;    
    justify-content: center;   
    align-items: center;       
    height: 100vh;            
    background-color: #f0f0f0; 
    text-align: center;       
  }
  
  img {
    width: 500px;             
    height: auto;               
    border: 2px solid #000;   
    border-radius: 10px;       
  }
  

#root{
     height: 100%;
}